
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarC" aria-controls="navbarC" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand text-white" style="font-size: 30px;" href="/">
            JobsDevs
          </a>
          <div class="nav justify-content-end collapse navbar-collapse" id="navbarC">
            <ul class="navbar-nav">
              
              {% if request.user.is_authenticated %}
                <li class="nav-item ">
                  <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Vagas</a>
                </li>
                
                <li class="nav-item ">
                  <a class="nav-link active text-white" href="{% url 'relatorio' %}">Relatorio</a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link active text-white" href="{% url 'cadastrar' %}">Cadastar Vaga</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link active text-white" href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</header>